<div class="side-bar-header">
  <div class="header-name">
<%# 以下プランタイトル表示 %>
    <a href="#">Title</a>
  </div>
  <div class="create-content">
<%# 以下新規コンテンツ追加機能 %>
    <a href="#">内容を追加する</a>
  </div>
</div>

<div class="members">
<div class="member">
    <div class="member-name">
      <a href="#">Tom</a>
    </div>
  </div>
  <div class="member">
    <div class="member-name">
      <a href="#">Catherine</a>
    </div>
  </div>
</div>