// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index.html.erb */
.content-side-bar {
  background-color: #253141;
  width: 250px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-content a{
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

.members {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}
.member {
  padding: 20px 0 40px;
}

.member-name a {
  text-decoration: none;
  color: white;
}

.header-title {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 1px;
  font-size: 10px;
}

.contents {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

.contents-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}


.content {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 70px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.content-detail {
  width: 300px;
  margin: 10px 0 0 0;
  background-color: #fff4e6;
  padding-left: 5px;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  border: 2px solid #ff9100;
}

.content-upper-detail{
  display: flex;
}

.content-write-user {
  color: #434a54;
  font-size: 8px;
}

.content-detail-date {
  color: #999;
  font-size: 8px;
}

.content-lower-detail {
  margin-top: 10px;
  text-align: end;
  padding-right: 5px;
}

.content-to_do {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}



.form {
  background-color: #DDDDDD;
  height: 70px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.form-comment {
  border: none;
  height: 30px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 30px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 10px;
  background-color: lightblue;
  color: white;
  padding: 7px 0;
  width: 60px;
  margin: 2px 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.field_with_errors {
  display: contents;
}
