<div class="side-bar-header">
  <div class="header-name">
    <%# logo %>
    <%= link_to image_tag("/images/smsrogo6.png", size:'60x60'), root_path %>
  </div>
  <div class="content-logo-text"> 
    SMS
  </div>
    <%# ここまで %>
</div>
<div class="plan-members-header">
       PlanMembers
   </div>
<div class="members">
  <div class="member">
     <% @plan.users.each do |user| %> 
        <li class="member-name">
         <%= user.name %>  
        </li>
      <%end%> 
  </div>
</div>