<div class="side-bar-header">
  <div class="header-name">
<%# 以下プランタイトル表示 %>
    <%= @plan.title %>
  </div>
  <div class="create-content">
<%# 以下新規コンテンツ追加機能 %>
    <a href="#">内容を追加する</a>
  </div>
</div>

<div class="members">
<div class="member">
    <div class="member-name">
      <%# <% @users.each do |user| %> 
      <%# <%= user.name %> 
      <%# <%end%>  
    </div>
  </div>
  <div class="member">
    <div class="member-name">
      <a href="#">Catherine</a>
    </div>
  </div>
</div>