<div class="side-bar-header">
  <div class="header-name">
<%# 以下プランタイトル表示 %>
    <%= @plan.title %>
  </div>
  <div class="redirect-to-top">
<%# 以下topページ戻るボタン %>
    <%= link_to "TOP", root_path%>
  </div>
</div>

<div class="members">
  <div class="member">
     <% @plan.users.each do |user| %> 
        <li class="member-name">
         <%= user.name %>  
        </li>
      <%end%> 
  </div>
</div>