<div class="contents-header">
  <div class="left-header">
    <div class="header-title">
      PlanContents
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
     
    </div>
  </div>
</div>

<div class="content">
  <div class="detail">
    <div class="upper-detail">
      <div class="content-detail">
        予定内容
      </div>
    </div>
    <div class="lower-detail">
      <div class="write-user">
        Tom
      </div>
      <div class="detail-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
  </div>
</div>

<div class="form">
    <div class="form-input">
      <input class="form-comment" placeholder= "type a comment">
      <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
      </label>
    </div>
    <input class="form-submit" type="submit" value="送信">
</div>
