<div class='wrapper'>
  <div class='plan_side-bar'>
    <div class="plan_side-bar-header">
     <div class="plan_header-name">
       <%# カレントユーザー表示 %>
       <a href="#">ユーザーネーム</a>
     </div>
     <div class="create-plan">
       <%# 以下新規予定追加機能 %>
       <a href="#">Planを追加する</a>
     </div>
   </div>
   <%# 以下知り合い表示 %>
   <div class="friend-members">
     <div class="friend-member">
       <div class="friend-member-name">
         <a href="#">Tom</a>
       </div>
     </div>
     <div class="friend-member">
       <div class="friend-member-name">
         <a href="#">Catherine</a>
       </div>
     </div>
   </div>
  </div>
  <div class="contents">
      <div class="contents-header">
        <div class="left-header">
          <div class="header-title">
          YourPlans
          </div>
        </div>
        <div class="right-header">
          <div class="header-button">
            <a href="#">予定削除</a>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="detail">
          <div class="upper-detail">
            <div class="content-detail">
              予定タイトル
            </div>
          </div>
          <div class="lower-detail">
            <div class="write-user">
              書いた人名前
            </div>
            <div class="detail-date">
              追加日、2020/3/31(Wed) 12:43:30
            </div>
          </div>
        </div>
      </div>
  </div>
</div>